{% extends "quiz/layout.html" %}
{% load static %}
{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
       {% if message %}
        <div>{{ message }}</div>
    {% endif %}


      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
            <div class="col-lg-5 d-flex flex-column">
                <div class="px-lg-5 py-lg-4 p-4">
                   <h1 class="font text-white">login</h1> 
                   <br>
                   <form action="{% url 'login' %}" method="post">
                      {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label text-white">Usuario</label>
                      <input type="text" name="username" class="form-control bg-white border-0"placeholder="ingresa tu usuario" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label text-white">Contraseña</label>
                      <input type="password" name="password" class="form-control bg-white border-0" placeholder="ingresa tu contraseña" id="exampleInputPassword1">
                    </div>
                       <br>
                        <input class="btn btn-primary w-100" type="submit" value="Login">
                    <br>
                    <br>
                  <p class="forget text-white">
                           No tienes una cuenta? <a href="{% url 'register' %}">regístrate </a>
                    </p>
                  </form>
                </div>
            </div>

        </div>
      </div>

      
      
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

{% endblock %}